.DS_Store
Thumbs.db
ehthumbs.db

*.log
logs/
temp/
tmp/

.env
.env.*
!.env.example


# Build outputs
bin/
obj/
out/
publish/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / Rider
.vs/
.vscode/
.idea/
*.sln.iml
_ReSharper*/
*.DotSettings.user

# NuGet
packages/
.nuget/
*.nupkg

# ASP.NET Core configs
appsettings.Development.json
appsettings.Local.json
secrets.json
*.pfx

# Test / Coverage
TestResults/
coverage/
coverage.*
artifacts/


# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Next.js cache
.next/cache/

# Vercel
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Package managers
.pnpm-store/
.yarn/
.yarn-cache/

# Turbo / Monorepo
.turbo/

# ESLint / TS
.eslintcache
*.tsbuildinfo

# Storybook
storybook-static/

# Testing
cypress/videos/
cypress/screenshots/
playwright-report/
playwright/.cache/

**/docker-compose.override.yml
